body {
    background-color: whitesmoke;
    font-family: Segoe UI;
    color: black;

}

ul {
    display: inline; 
    list-style: none;
    padding: 500px;
    font-size: 20px;
 
}

li {

    display: inline;

}

li a {
    padding: 15px 15px;
}