
.more-paragraph-style {
 font-size: 16px;   
}

#carl {
    width: 60vw;
}

#email {
    margin-top: 40px;
}
#email-input {
    background-color: blueviolet;
}

#email-input:focus {
    background-color: bisque;
}